  body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      background: #f4f4f4;
      color: #333;
    }
    .container {
      max-width: 900px;
      margin: 2rem auto;
      background: #fff;
      padding: 2rem;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .header {
      display: flex;
      align-items: center;
    }
    .header img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      object-fit: cover;
      margin-right: 2rem;
    }
    h1 {
      margin: 0;
      color: #007acc;
      font-family: 'Orbitron', sans-serif;
    }
    h2 {
      color: #007acc;
      margin-bottom: 0.5rem;
    }
    .section {
      margin-top: 2rem;
    }
    .section h2 {
      border-bottom: 2px solid #007acc;
      padding-bottom: 0.5rem;
    }
    .info {
      margin: 0.5rem 0;
    }
    .skills span {
      display: inline-block;
      background: #007acc;
      color: #fff;
      padding: 0.3rem 0.7rem;
      margin: 0.3rem;
      border-radius: 3px;
      font-size: 0.9rem;
    }

    .toggle-btn {
      background-color: transparent;
      border-color: #f4f4f4;
      width: 100%;
      text-align: left;
    }

#color1 {
  color: aqua;
}
#color2 {
  color:rgb(8, 204, 230);
}

#color3 {
  color: rgb(0, 119, 255);
}
#color4 {
  color: rgb(47, 0, 255);
}

div span:hover {
  color: red;
  background-color: white;
}

#cursos-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

#cursos-content.expanded {
  max-height: 1000px; /* grande para permitir el despliegue */
}
